body {
    background-color: white;
}

#topo{
    
    background-color: #627c96; 
}
#titulo {
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 40pt;
}
     
#minhafoto {
    width: 250px;
    height: 250px;
    position: relative;
    left: 150px;
    top: -40px;
    border-radius: 100px 100px 100px 100px;
    border: 2px solid black; 
}
#txt1{
    text-align: center;
    width: 350px;
    height: 400px;
    padding: 30px;
    margin: 30px;
    position: relative;
    left: 700px;
    border-style: dashed;
}
.FEI{
    display: inline;
    width: 300px;
    height: 300px;
    border-radius: 20px 20px;
}
.locFei{
    display: inline;
    width: 300px;
    height: 300px;
    border-radius: 20px 20px;
}
#txt2{
    text-align: center;
}