body {
    background-color: rgb(255, 248, 204);
}

#topo{
   background-color: bisque;
}
#titulo {
    text-align: center;
    position: relative;
    top: 300px;
    font-size: 40pt;
    background-color: bisque;
}
     
#minhafoto {
    width: 300px;
    height: 300px;
    position: relative;
    left: 760px;
    top: -120px;
    border-radius: 100px 100px 100px 100px;
    border: 2px solid black; 
}
#txt1{
    text-align: center;
    width: 350px;
    height: 400px;
    padding: 30px;
    margin: 30px;
    position: relative;
    left: 680px;
    border-style: dashed;
}

.FEI{
    width: 300px;
    height: 300px;
    border-radius: 20px 20px;
}
.locFei{
    width: 300px;
    height: 300px;
    border-radius: 20px 20px;
}
#txt2{
    text-align: center;
}

#menu{
    display: block;
    position: relative;
    left: 860px;
    top: -30px;
    font-size: 15pt;
}   
